{% extends "sportsrec/base.html" %}

{% block main %}
<div class="widget">
  <div class="form-small">
    <div class="title centre">
      {% if created %}
        Add a
      {% elif apply %}
        Apply for
      {% else %}
        Edit
      {% endif %}

      {% if detail_view %}
      <a href="{% url detail_view pk=pk %}">{{ name }}</a>
      {% else %}
      {{ name }}
      {% endif %}
    </div>

    <form method="post" action="">
      {% csrf_token %}
      {# Include the hidden fields #}
      {% for hidden in form.hidden_fields %}
      {{ hidden }}
      {% endfor %}
      {# Include the visible fields #}
      {% for field in form.visible_fields %}
          <div class="fieldWrapper">
            <div>
              {{ field.label_tag }}{% if field.field.required %} * {%endif%}
            </div>
            {{ field }}
            {% for error in field.errors %}
            <div class="fail">{{ error|escape }}</div>
            {% endfor %}
          </div>
      {% endfor %}
      <p style="float:right; margin:0;">
         <input type="submit" value="{{ submit }}">
      </p>

      <div id="result">
        <div class="fail">
          {{ form.non_field_errors }}
          {{ fail }}
        </div>
        <div class="pass">
          {{ pass }}
        </div>
      </div>
  </form>
  {% block form-data %}
  {% endblock %}
  </div>
  
  {% if delete_view %}
  <div class="large centre clear">
    Delete <a href="{% url delete_view pk=pk %}">{{delete_text}}</a>
  </div>
  {% endif %}
  
  {% if user_profile and admin %}
  <div class="large centre clear">
    <a href="{% url 'sportsrec:user_demote' pk=user.id %}">Revoke your admin status</a>
  </div>
  {% endif %}
</div>

{% endblock %}

{% block pre-content %}
{# add content here #}
<div id="sidebar-right">
  {# eg #}
  {% if club_edit or club_add %}
  <div class="widget">
    <div class="title">Data Dictionary</div>
	<div><b>Name:</b>  Name of your Club</div><br>
	<div><b>Owner:</b>  Administering Member of your Club</div><br>
	<div><b>Address:</b>  The address of your Club.</div><br>
	<div><b>Location:</b>  The lat/long coordinates of the club. The coordinates of Perth are -31.95, 115.85.</div><br>
	<div><b>Tags:</b>  List of keywords that describe the club.</div><br>
	<div><b>Type:</b>  What type of club are you? If your type doesn't appear, choose 'Other' and let us know about it, at help@ucdb.com.</div><br>
	<div><b>Recruiting:</b>  Is your club open for recruiting new members?</div><br>
	<div><b>Contact:</b>  A trusted Member of your club the public can contact.</div><br>
	<div><b>Facebook:</b>  The club's Facebook page, if it has one.</div><br>
	<div><b>Twitter:</b>  The club's Twitter handle, if it has one.</div><br>
	<div><b>Description:</b>  Let us know a bit more about your club.</div><br>
  </div>
  {% elif club_add %}
  <div class="widget">
    <div class="title">Data Dictionary</div>
	<div><b>Name:</b>  Name of your Club</div><br>
	<div><b>Owner:</b>  Administering Member of your Club</div><br>
	<div><b>Address:</b>  The address of your Club.</div><br>
	<div><b>Location:</b>  The lat/long coordinates of the club. The coordinates of Perth are -31.95, 115.85.</div><br>
	<div><b>Tags:</b>  List of keywords that describe the club.</div><br>
	<div><b>Type:</b>  What type of club are you? If your type doesn't appear, choose 'Other' and let us know about it, at help@ucdb.com.</div><br>
	<div><b>Recruiting:</b>  Is your club open for recruiting new members?</div><br>
	<div><b>Contact:</b>  A trusted Member of your club the public can contact.</div><br>
	<div><b>Facebook:</b>  The club's Facebook page, if it has one.</div><br>
	<div><b>Twitter:</b>  The club's Twitter handle, if it has one.</div><br>
	<div><b>Description:</b>  Let us know a bit more about your club.</div><br>
  </div>
  {# afaik values are club_edit, club_add, member_add, member_edit, and user_profile #}
  {# imo, only the club ones are necessary, member and user forms are all super logical and self-explanatory #}
  {% endif %}
</div>
{% endblock %}
