{% extends "sportsrec/add_edit.html" %}

{% block form-data %}
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script>
  var timeout;
  var geocoder = new google.maps.Geocoder();

  function geolocate () {
   if (geocoder) {
      geocoder.geocode({ 'address': $("#id_address").val() }, function (results, status) {
         if (status == google.maps.GeocoderStatus.OK) {
          var latlong = results[0].geometry.location;
          $("#id_location").val(latlong.lat() + "," + latlong.lng());
          $("#id_location").attr("class", "pass");
         }
      });
   }
  };
  
  $("#id_address").keypress(function (evt) {
    if (timeout) {
      clearTimeout(timeout);
      timeout = null;
    }
    
    if (evt.ctrlKey) {
      return;
    }
    
    timeout = setTimeout(geolocate, 800);
  });
  
  function checkLocation() {
    var val = $("#id_location").val();
    if (/^\s*-?\d+\.?\d*\s*,\s*-?\d+\.?\d*$/.test(val)) {
      $("#id_location").attr("class", "pass");
    }  else {
      $("#id_location").attr("class", "fail");
    }
  }
  
  var locationTimeout;
  $("#id_location").keypress(function (evt) {
    $(this).attr("class", "");
    if (locationTimeout) {
        clearTimeout(locationTimeout);
        locationTimeout = null;
    }
    
    if (evt.ctrlKey) {
      return;
    }
      
    locationTimeout = setTimeout(checkLocation, 200);
  });
</script>
{% endblock %}