{% extends "sportsrec/base.html" %}

{% block main %}
<div class="widget">
  <div class="title">Delete {{name}}?</div>
  <p>The following relations will be revoked:</p>
  
    <form method="post" action="{% url view pk=pk  %}">
      {% csrf_token %}
      {# Include the hidden fields #}
      {% for hidden in form.hidden_fields %}
      {{ hidden }}
      {% endfor %}
      {# Include the visible fields #}
      {% for field in form.visible_fields %}
          <div class="fieldWrapper">
            <div class="{% if field.field.required %} bold {%endif%}">
              {{ field.label_tag }}
            </div>
            
            {{ field }}
            {% for error in field.errors %}
            <div class="fail">{{ error|escape }}</div>
            {% endfor %}
          </div>
      {% endfor %}
      <p style="float:right; margin:0;">
         <input type="submit" value="{{ submit }}">
      </p>

      <div id="result">
        <div class="fail">
          {{ form.non_field_errors }}
          {{ fail }}
        </div>
        <div class="pass">
          {{ pass }}
        </div>
      </div>
  </form>
</div>
{% endblock %}