{% extends "sportsrec/base.html" %}
{% with paginate_view='sportsrec:membership_list' %}

{% block main %}
<div class="widget">
  <div class="title centre">Active memberships</div>
  {% if membership_list %}
  {% include 'sportsrec/paginate.html' %}
  <table class="centre">
    <thead>
      <tr class="header">
      	<th>Membership ID</th>
        <th>Member</th>
        <th>Club</th>
        <th>Date Created</th>
        <th>Last paid</th>
      </tr>
    </thead>
    <tbody>
      {% for membership in membership_list %}
      <tr>
        <td class="clickable menu-hilight">
          <a href="{% url 'sportsrec:membership_detail' pk=membership.id %}">
          {{membership.id}}
          </a>
        </td>
    	<td class="clickable menu-hilight">
          <a href="{% url 'sportsrec:member_detail' pk=membership.member.id %}">
            {{membership.member}}
          </a>
        </td>
        <td class="clickable menu-hilight">
          <a href="{% url 'sportsrec:club_detail' pk=membership.club.id %}">
            {{membership.club}}
          </a>
        </td>
        <td>{{membership.joined}}</td>
        <td>{{membership.last_paid | default:""}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  {% include 'sportsrec/paginate.html' %}
  
  {% else %}
  <p>You administer no memberships.</p>
  {% endif %}
</div>
{% endblock %}

{% endwith %}
