{% extends 'sportsrec/base.html' %}
{% block main %}
<div class="widget">
  <div class="title centre">
    Membership to 
    <a href="{% url 'sportsrec:club_detail' pk=membership.club.id%}">
      {{membership.club.name}}
    </a>
    for
    <a href="{% url 'sportsrec:member_detail' pk=membership.member.id%}">
    {{membership.member.first_name}} {{membership.member.last_name}}
    </a>
  </div>
  <div class="large bold">Set when fees were last paid for this user</div>
  <form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
  </form>
</div>

{% endblock %}