{% extends "sportsrec/base.html" %}
{% with paginate_view='sportsrec:search_location' %}

{% block main %}
<div class="widget">
	
	<div class="title centre">Search for a club by location:</div>
    <div class="large centre bold">
      <form action="{% url 'sportsrec:search_location' %}">
      <p>
      	<label for="name">Address:</label><br>
        <input id="name" type="textbox" name="query" value="Nedlands, Perth" style="width:200px;" class="normal">
        <input type="submit" value="Search" class="normal"><br>
        <label for="radius">Within Radius:</label><br>
        <input id="radius" type="textbox" name="radius" value="5" style="width:4%;" class="normal"> km<br>
      </p>
    </div>
</div>

<div class="widget">
  <div class="title centre">Search by location results:</div>
  {% if search_location %}
  {% include 'sportsrec/paginate.html' %}
  <table class="centre">
    <thead>
      <tr class="header">
      	<th>ID</th>
        <th>Name</th>
        <th>Type</th>
        <th>No. Members</th>
        <th>Date Created</th>
        <th>Contact</th>
        <th>Apply now!</th>
      </tr>
    </thead>
    <tbody>
      {% for club in search_location %}
      <tr>
        <td class="clickable menu-hilight">
          <a href="{% url 'sportsrec:club_detail' pk=club.id %}">
          {{club.id}}
          </a>
        </td>
    	<td>{{club.name}}</td>
        <!--<td>{{club.address}}</td>-->
        <td>{{club.type}}</td>
        <td>{{club.member_count}}</td>
        <td>{{club.created}}</td>
        <!--<td>{{club.owner}}</td>-->

        
        <td class="menu-hilight clickable">
        {% if club.contact %}
          <a href="{% url 'sportsrec:member_detail' pk=club.contact.id%}">
            {{club.contact|default:''}}
          </a>
        {% endif %}
        </td>
         
        
        <td class="clickable menu-hilight">
          {% if club.recruiting %}
            <a href="{% url 'sportsrec:membership_apply' pk=club.id %}">
              Apply
            </a>
          {% endif %}
        </td>
        
        
        <td class="clickable menu-hilight">
          {% if club.twitter %}
          <a href="https://twitter.com/{{club.twitter}}">{{club.twitter}}</a>
          {% endif %}
        </td>

      {% endfor %}
    </tbody>
  </table>
  
  {% include 'sportsrec/paginate.html' %}
  
  {% else %}
  <p>There are no clubs.</p>
  {% endif %}

  <div class="sub-title centre">
    Add a <a href="{% url 'sportsrec:club_add' %}">new club</a>.
  </div>
</div>

<div class="widget">
<div class="title centre">Map:</div>
<div id="map-canvas" style="width:100%;height:500px;"></div>
    <script src="https://maps.googleapis.com/maps/api/js?v=3key={AIzaSyAH5OCkIGApptBzMQGjs_Wlz8kc6xqTg8o}&sensor=true"></script>
    <script>
      var map;
      var geocoder;
      
      function getInfo(name, address, description) {
        return '<div class="map-content">'+
                  '<h2 class="firstHeading">'+name+'</h2>'+
                  '<div class="bodyContent">'+
                    '<p>Address: '+address+'</p>' +
                    '<p>'+description+'</p>' +
                  '</div>'+
                '</div>';
      }
      
      function addMarker(map, club) {
        var latlng = new google.maps.LatLng(club.lat, club.lng);
        var marker = new google.maps.Marker({
              map: map,
              title : "Club: " + club.name,
              position: latlng
        });
        
        var infoText = getInfo(club.name, club.address, club.description);
        var infoWindow = new google.maps.InfoWindow({
          'content' : infoText
        });
        
        //Bouncy bounce
        marker.setAnimation(google.maps.Animation.BOUNCE);
        setTimeout(function() { marker.setAnimation(null); }, 2500);
        google.maps.event.addListener(marker, 'click', function() {
            infoWindow.open(map, marker);
        });
      }
      
      function initialize() {
      	geocoder = new google.maps.Geocoder();
        var mapOptions = {
          zoom: 12,
          center: new google.maps.LatLng({{centre.0}}, {{centre.1}}),
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById('map-canvas'),mapOptions);
        var locations = {
      		{% for club in search_location %}
      		{% if club.latitude and club.longitude %}
        		{{club.id}} : {
        			name : "{{club.name|escapejs}}",
              address : "{{club.address|escapejs}}",
      				lat : {{club.latitude}},
      				lng : {{club.longitude}},
      				description : "{{club.description|escapejs}}"
      			},
      		{% endif %}
      		{% endfor %}
      	};
        
      	 var circleOptions = {
            strokeColor: '#BB0000',
      			strokeOpacity: 0.6,
      			strokeWeight: 1.2,
       			fillColor: '#FF2211',
       			fillOpacity: 0.1,
      			map: map,
      			center: map.center,
      			radius: {{radius}} * 1000
     		};
     		// Add the circle for this radius to the map.
    		clubRadius = new google.maps.Circle(circleOptions);
        
        for (var id in locations) {
          var club = locations[id]
          addMarker(map, club);
        }
    }
    google.maps.event.addDomListener(window, 'load', initialize);
    
    </script>
</div>
</div>

{% endblock %}

{% endwith %}