{% extends 'sportsrec/base.html' %}
{% block main %}

<div class="title left">How would you like to Search?</div>
<div class="widget">
	<div class="title centre">By Name:</div>
    <div class="large centre bold">
      <form action="{% url 'sportsrec:search_name' %}">
      <p>
      <input id="name" type="textbox" name="query" value="Sport Club" style="width:200px;">
      <input type="submit" value="Search">
      </p>
      </form>
    </div>
</div>

<div class="widget">
	<div class="title centre">By Tags:</div>
    <div class="large centre bold">
      <form action="{% url 'sportsrec:search_tag' %}">
      <p>
      <input id="tags" type="textbox" name="query" value="Soccer" style="width:200px;" class="normal" title="Enter a comma separated list of tags">
      <input type="submit" value="Search" class="normal">
      </p>
      </form>
    </div>
</div>

<div class="widget">
	<div class="title centre">By Location:</div>
    <div class="large centre bold">
    	<form action="{% url 'sportsrec:search_location' %}">
      <p>
        <label for="name">Search query</label><br>
        <input id="name" type="textbox" name="query" value="Nedlands, Perth" style="width:60%;"><br>
        <label for="radius">Search radius (in km)</label><br>
        <input id="radius" type="textbox" name="radius" value="5" style="width:60%;"><br>
        <input type="submit" value="Search">
      </p>
      </form>
    </div>
</div>




{% endblock %}