{% extends "sportsrec/base.html" %}
{% with paginate_view='sportsrec:club_list' %}

{% block main %}
<div class="widget">
  <div class="title centre">Administered clubs</div>
  {% if club_list %}
  {% include 'sportsrec/paginate.html' %}
  <table class="centre">
    <thead>
      <tr class="header">
      	<th>ID</th>
        <th>Name</th>
        <th>Type</th>
        <th>No. Members</th>
        <th>Date Created</th>
        <th>Contact</th>
        <th>Facebook</th>
        <th>Twitter</th>
      </tr>
    </thead>
    <tbody>
      {% for club in club_list %}
      <tr>
        <td class="clickable menu-hilight">
          <a href="{% url 'sportsrec:club_detail' pk=club.id %}">
          {{club.id}}
          </a>
        </td>
    	<td>{{club.name}}</td>
        <!--<td>{{club.address}}</td>-->
        <td>{{club.type}}</td>
        <td>{{club.member_count}}</td>
        <td>{{club.created}}</td>
        <!--<td>{{club.owner}}</td>-->

        {% if club.contact %}
        <td class="menu-hilight clickable">
          <a href="{% url 'sportsrec:member_detail' pk=club.contact.id%}">
            {{club.contact|default:''}}
          </a>
        </td>
        {% else %}
        <td></td>
        {% endif %}
        
        {% if club.facebook %}
         <td class="clickable menu-hilight">
           <a href="https://facebook.com/{{club.facebook}}">{{club.facebook}}</a>
         </td>
         {% else %}
         <td></td>
         {% endif %}

         {% if club.twitter %}
         <td class="clickable menu-hilight">
           <a href="https://twitter.com/{{club.twitter}}">{{club.twitter}}</a>
         </td>
         {% else %}
         <td></td>
         {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  {% include 'sportsrec/paginate.html' %}
  
  {% else %}
  <p>There are no clubs.</p>
  {% endif %}

  <div class="sub-title centre">
    Add a <a href="{% url 'sportsrec:club_add' %}">new club</a>.
  </div>
</div>
{% endblock %}

{% endwith %}